# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Databricks
.dbc/
.metastore/
.metadata/
.checkpoint/
.parquet/
.delta/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
*.DS_Store*
*Zone.Identifier*
Thumbs.db

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp

# Project files
Access_DL_from_DB.md
Databricks_DataFactory_repo.md
Databricks_UnityCatalog_repo.md
Unity catalog/
Formula 1.dbc
Formula 1.dbc:Zone.Identifier
demo/